*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
h1{
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
}
h2,h3{
        font-family: 'Roboto', sans-serif;
        margin: 20px;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;   
    margin: 20px;
}
#bio{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;   
    margin: 20px;
    color: black;
}

.top{
    background-color: #e4f9f5;
}
.cloud{
    padding: 20px;
}
#cloud-1{
    position: relative;
    left: 200px;
}
#cloud-2{
    position: relative;
    right: 200px;
}
#profle-pic{
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius:110px;
}
.comp{
    width: 350px;
    height: 350px;
    margin: 20px;
    border-radius:165px;
}
.skill-row{
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
}
.btn{
    background-color: #0d7377;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: teal;
}
#mountain{
    height: 400px;
    width: 400px;
}
.footer-link:hover{
    color:#f1f6f9;
}
.bottom-container{
    background-color: #41aea9;
    height: 69px;
    padding: 28px;
    margin-top: 30px;
}
.footer-link{
    text-decoration: none;
    color: #16697a;
    padding: 0 20px;
    font-size: 22px;
}
.copyright{
    font-size: 13px;
}